.home-image {
  height: 200px;
  display: inline-block;
}

h1 {
  margin: 20px;
}

.homepage {
  text-align: center;
}


.map_weather {
  display: flex;

}

#map {
  min-width: 300px;
  width: 40vw;
  height: 30vw;
  min-height: 300px;
  margin: auto;
  margin-top: 30px;
}
#weather {
  min-width: 300px;
  margin: 30px;
}

.weathercontent {
  margin-left: 50px;
}
