<div class="homepage">
  <h1>Welcome to Fishing Review App</h1>
  <h3>Recently Caught</h3>


  <% @reviews.each do |review| %>
      <a href="/regions/<%= review.region_id %>"><img src="<%= review.link %>" alt="" class="home-image" /></a>
      <p><%= review.region.name %></p>
  <% end %>
</div>
